{
    "presets": [
        [
            "@babel/preset-react", {
                "pragma": "foo", // default pragma is React.createElement
                "pragmaFrag": "bar" // default is React.Fragment
            }
        ]
    ]
}
